@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

$primary: #232027;
$link: #430077;
$danger: rgb(151, 11, 39);
$warning: rgb(152, 121, 0);
$info: #824113;
$nav-title: 'Fjalla One';

@import "./node_modules/bulma/bulma.sass";


nav.navbar{
    font-family: $nav-title,$family-sans-serif;
}

.is-link.is-light{
    border-color: $link;
    color: $link;
    background-color: $light;
}

.hero.is-warning .title, .hero.is-warning .subtitle,.navbar-item,.navbar-item:hover{
    color:$light;
    background-color:$primary;
}

.navbar-dropdown{
    background-color:#161519;
}
.navbar-dropdown > .navbar-item{
    background-color:#161519;
}

.navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover{
    background-color: $primary;
    color:$light;
}

@media screen and (min-width: $widescreen){
    .navbar-brand > .navbar-item > img{
        height: 100%;
        max-height: 100%;
    }
}
